body { 
  font-family: 'Roboto', sans-serif;
}

a { 
  color: #000;
}

/* anchors with no underlines */
a:hover { 
  text-decoration: none;
}

/* Smash BS */

/* magenta */
.bg-primary { 
  background: #AD1457 !important;
}

/* light blue */
.bg-secondary { 
  background: #58a5f0 !important;
}

/* dark blue */
.bg-dark-blue { 
  background: #0277BD;
}

/* Grey */
.bg-grey {
  background: #9c9c9c;
}

/* align no parcels in class checkbox */
.input-group-append { 
  margin-top: -10px;
  margin-left: 10px;
}

.ripple-container {display: none;}

.mi-brand-bar {
  background-color: #505060 !important;
  height: 40px;
}

.secondary-font-color {
  color: #0277BD !important;
}

/*.secondary-bg-color { 
 *   background: #58a5f0 !important;
 *   }*/

.meg { background-color: #AD1457; }
.amar { background-color: #3849AA; }


.jurisdiction-name {
  margin-left: 20px;
}

/* clean this up */
.meg-nav {
  background-color: #AD1457 !important;
  height: 70px !important;
}

.foot { 
  padding-top: 50px;
}

.nav-item {
  font-size: small;
  font-weight: 300;
}

.nav-link {
  color: #fff;
}

.margin-left {
  margin-left: 20px;
}

.status-meg-primary { background: #AD1457; }
.status-grey { background: #9c9c9c !important; }
.status-orange { background: orange; }
.status-blue { background: #0277BD; }
.status-red { background: red; }
.status-green { background: #4CAF50; }
.status-grey-font { color: #9c9c9c; }
.status-orange-font { color: orange; }
.status-blue-font { color: #0277BD; }
.status-red-font { color: red; }
.status-green-font { color: #4CAF50; }

.dashboard-margin {
  margin-right: 0%;
  margin-left: 0%;
}

.dashboard-margin > div {
  margin-bottom: 2%;
}

.app-dropdown-content,
.profile-dropdown-content {
  display: none;
  position: absolute;
}

.app-dropdown-content {
  display: none;
  width: 280px;
  height: fit-content;
  justify-content: center;
}

.app-dropdown-content p {
  font-size: 14px;
  font-weight: 400;
  margin-left: -7px;
  margin-right: -7px;
  line-height: 20px;
  margin-top: 7px;
}

.app-dropdown-content .dropdown-item {
  display: block;
  min-width: 4em;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.dropdown-open {
  z-index: 100;
  display: flex !important;
  flex-flow: wrap;
}

/* -----
 * App
 * Switcher
 * Styling
 * -----
 * */
.app-service-access-square { 
  font-size: 24px;
  text-align: center;
  margin: 0 -5px -15px -5px;
}

.service-letter { 
  padding: 12px;
}

.profile-icon {
  width: 2em !important;
  height: 2em !important;
  margin-top: -10px !important;
}

.material-icons.md-48 {
  font-size: 48px;
}

.profile-btns {
  display: inherit;
}

.profile-btns a {
  font-size: smaller;
  padding: 10px 16px;
}

.profile-btns a:hover {
  text-decoration: none;
  border-radius: 2px;
}

/* Jurisdiction Selector */
.menu {
  padding-left: 24px;
  padding-right: 24px;
  line-height: 32px;
  display: inline-block;
  position: relative;
  font-size: 15px;
  width: 16px;
  cursor: pointer;
}

.menu ul {
  padding: 2px 8px;
  list-style: none;
  position: absolute;
  left: -65px;
  margin-top: -5px;
  top: 100%;
  min-width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  height: 30px;
  z-index: 1;
}

.jurisdiction li i {
  position: absolute;
  top: 4px;
}

.app-bar-icons i, .app-bar i {
  opacity: 100;
}

.material-icons {
  vertical-align: middle;
  cursor: pointer;
  box-sizing: inherit;
}

.hidden {
  display: none;
  visibility: hidden;
}

.jurisdiction-open {
  background: #fff !important;
  color: #000 !important;
}

.menu-height {
  height: fit-content !important;
  background: #fff;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.2);
}

/* align
 * the
 * equalization
 * year
 * to
 * content
 * */
.year-select {
  margin-left: 20px;
}

/* local unit search header */
.search-header { 
  background-color: #58a5f0 !important;
  color: #fff !important;
  font-weight: 300;
}

.search-header-row { 
  border: 1px solid rgba(0,0,0,.06);
}

/* blue table headers */
.table-header { 
  background-color: #58a5f0 !important;
  color: #fff !important;
}

/*.nav-pills > li > a {
 *   border-radius: 0;
 *   }*/

.accent-header-bar {
  padding: 19px 24px;
  font-size: 16px;
}

/* ------------------------- Custom Classes -------------------------  */


/* ----- Table Styling ----- */

/* Material Font Styling */
.th-font {
  font-size: 12px !important;
}

.td-font, .td-font::placeholder {
  font-size: 13px !important;
  color: black;
  opacity: .87;
}

/* Dashboard Status Circle */
.status-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

/* Input Field Floating Label Border Bottom */
.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#58a5f0 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

/* Input Field Floating Label Color */
.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label] {
  color: #58a5f0;
}

.form-cards {
  height: 150px;
}

.status-bar {
  height: 130px;
  position: relative;
  top: -10px;
  left: -13px;
  width: 6px;
  float: left;
}

/* ---------------------------------------------------------- Sticky footer navbar styles -------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 202px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #505060;
  color: #fff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}